body{
	background-color: #323231;
	
}

html{
	font-family: 'Oswald', sans-serif;
	color: white;
}


#logo{
	padding-left: 3px;
	padding-bottom: 3px;
	width: 100px;
	float: left;
}

header{
	position: fixed;
	width: 100%;
	background: #0B3954;
	padding-right: 10px;
	z-index: 10;
	
}

h1{
	float: left;
	padding-left: 20%;
	font-size: 32px;
	color: white;
	padding-bottom: 5px;
}


body{
	padding: 0px;
	margin: 0px;
}

li{
	display: inline;
	padding-right: 50px;
	padding-top: 30px;
	float: right;
}


.header_links a{
	color: #BFD7EA;
	font-size: 20px;
}

.header_links a:hover{
	color: red;
}

.content{
	padding-top: 115px;
	background-color: #323231;
}


a{
	text-decoration: none;
}

form{
	padding-top: 20px;
	
}

label{
	padding: 1%;
	
}

input{
	padding: 1%;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}





