html{
	font-family: 'Oswald', sans-serif;
}


#logo{
	padding-left: 3px;
	padding-bottom: 3px;
	width: 100px;
	float: left;
}

header{
	position: fixed;
	width: 100%;
	background: #0B3954;
	padding-right: 10px;
	z-index: 10;
	
}

h1{
	float: left;
	padding-left: 20%;
	font-size: 32px;
	color: white;
	padding-bottom: 5px;
}


body{
	padding: 0px;
	margin: 0px;
}

li{
	display: inline;
	padding-right: 50px;
	padding-top: 30px;
	float: right;
}


.header_links a{
	color: #BFD7EA;
	font-size: 20px;
}

.header_links a:hover{
	color: red;
}

.content{
	padding-top: 115px;
	background-color: #323231;
}

#double{
	
}

a{
	text-decoration: none;
}

#pic>img{
	width: 100%;
	
}

#pic>p{
	position:relative;
	color:whitesmoke;
	
	top:20%;
	font-size: 250%;
	text-align: center;
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
}

#double{
	background: #BFD7EA;
	padding-top: 20px;
	padding-bottom: 20px; 
}


section{
	overflow:auto;
}

.two{
	width: 48%;
	float: left;	
}

p.two{
	position: relative;
	padding-top: 10%;
	font-size: 30px;
}

footer{
	text-align: center;
}

#gallery-text{
	background: #760806;
	text-align: center;
	color:#99D4E3;
}

img.gallery{
	overflow: auto;
	width: 18.8%;
	float: left;
}



